<!DOCTYPE html>

<html lang="en">
  
  <head>
    <meta chartset="utf-8">
    <title>beats per month</title>
    <link rel="stylesheet" type="text/css" href="/static/stylin.css">
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <section id="photos">
      {% for artist in artist_data['topartists']['artist'] %}
        {% for image in artist['image'] %}
          {% if image.size == "mega" %}
            <img class="{{ artist.name }}" src="{{ image['#text'] }}">
          {% endif %}
        {% endfor %}
      {% endfor %}
    </section>

    <div class="container">
      <h1>Beats Per Month</h1>
      <ol class="double">
      {% for artist in artist_data['topartists']['artist'] %}
        <li class="rotate"><a href="{{ artist.url }}">{{ artist.name }}</a></li>
      {% endfor %}
        <li class="rotate">Check out <a href="/weekly">last week in review</a>!</li>
        <li class="rotate">A <a href="http://sophiestadler.com">sophstad</a> enterprise</li>
      </ol>
    </div>
  </body>

</html>